# Dependency directories
node_modules/

# Mac OS system files
.DS_Store

# Next.js & Build outputs
.next/
next-env.d.ts
tsconfig.tsbuildinfo
out/
build/

# Local Environment Variables & Supabase CLI cache
.env.local
.env*.local
supabase/

# Cypress testing files
cypress.env.json
cypress.env

# Editor & IDE directories
.vscode/
.idea/
